{:url "http://192.168.59.103:9200"
 :indexes ["congress"]
 :neo-url "http://192.168.59.103:7474/db/data"
 :neo-username "neo4j"
 :neo-password "password"
 :bill-dir "/root/congress/bills/114/copy"
 :legislator-dir "/root/congress/114/legislators/legislators-current.yaml"
 :es-index "congress"
 :es-bill-type "bill"}