{:url "http://localhost:9200"
 :indexes ["congress"]
 :neo-url "http://localhost:7474/db/data"
 :neo-username "neo4j"
 :neo-password "password"
 :bill-dir "test-resources/bills"
 :legislator-dir "test-resources/legislators/legislators-current.yaml"
 :vote-dir "test-resources/votes"
 :es-index "congress"
 :es-bill-type "bill"}